<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991527374957-8a06mhinnjudra23s6qjj4d7u7qnf4l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991527374957-8a06mhinnjudra23s6qjj4d7u7qnf4l6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991527374957-ovqfnr6kpafvdbb46ekcke5s2o73fal7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHhAdwfxwQb7_SajNkBAEIUXT2aKa302c</string>
	<key>GCM_SENDER_ID</key>
	<string>991527374957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ailbee.ff.app</string>
	<key>PROJECT_ID</key>
	<string>ailbee</string>
	<key>STORAGE_BUCKET</key>
	<string>ailbee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991527374957:ios:cd83278b60001332392f64</string>
</dict>
</plist>