rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /conversations/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if false;
    }

    match /education_levels/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /subjects/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /export_logs/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /ailbee-user-data/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.uid;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /ailbee-books/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /tasks/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.user_ref == /databases/$(database)/documents/ailbee-user-data/$(request.auth.uid);
      allow write: if resource.data.user_ref == /databases/$(database)/documents/ailbee-user-data/$(request.auth.uid);
      allow delete: if resource.data.user_ref == /databases/$(database)/documents/ailbee-user-data/$(request.auth.uid);
    }
  }
}
